<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Update category</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <form [formGroup]="categoryForm">
      <ion-item>
        <ion-label position="floating">Name: </ion-label>
        <ion-input type="text" formControlName="name" value= "{{category.name}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button shape="round" color="primary" [disabled]="!categoryForm.valid" (click)="editCategory()">Update
        </ion-button>
        <ion-button shape="round" color="danger" routerLink="/categories">Cancel</ion-button>
      </ion-item>
    </form>
  </ion-card>
</ion-content>