<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Categories List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let ct of categories">
    <ion-item-sliding>
      <ion-item>
        {{ct.name}}
      </ion-item>
      <ion-item-options side="end">
        <button routerLink="/categories/{{ct.id}}">
          <ion-icon name="build"></ion-icon>
        </button>
        <button (click)="deleteCategory(ct.id)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>